:root {
      --orange: #E9561E;
      --beige: #ECD9BA;
      --dark-bg: #1f2e38;
      --input-bg: #16222b;
      --input-border: #2f3e48;
}


/* main.css */
body {
  background-image: url("../assets/nexofondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  /* Esto le dice al navegador: "No animes este fondo, mantenlo fijo" */
  view-transition-name: main-background; 
}

/* Evita que el fondo parpadee durante la transición */
::view-transition-old(main-background),
::view-transition-new(main-background) {
  animation: none;
  mix-blend-mode: normal;
}




